/* 
    Document   : style.css
    Created on : Mar 27, 2012, 11:21:55 PM
    Author     : thanhtri
    Description:
        Purpose of the stylesheet follows.
*/

.programming_result_chart {
    position: relative;
    width: 800px;
    height:250px;
    margin-bottom: 10px;
}

.programming_result_chart .bar {
    background-color: #a6a6ff;
    position: absolute;
    height: 20px;
    left: 45px;
}

.programming_result_chart .bar:hover {
    background-color: #a6ffff;
    position: absolute;
    height: 20px;
    left: 45px;
}

.programming_result_chart .legend {
    position: absolute;
    height: 20px;
    left: 0px;
}

div.programming_result_table {
    width: 100%;
    overflow: auto;
}

.plagiarsm_programming_course_selection_wrapper {
    padding: 0px;
    margin: -10px;
    background-color: white;
    font-size: larger;
}

.plagiarsm_programming_course_selection_wrapper .row {
    height: 20px;
    padding: 10px
}

.plagiarsm_programming_course_selection_wrapper .odd {
    background-color: #F9F9F9;
}

.plagiarsm_programming_course_selection_wrapper .enabled {
    background-color: #00EE00;
    opacity: 0.7;
}

.plagiarsm_programming_course_selection_wrapper .coursename {
    float: left;
}

.plagiarsm_programming_course_selection_wrapper .selectbutton {
    float: right;
}

a.plagiarism_programming_student_link:link,a.plagiarism_programming_student_link:visited {
    color: black;
}