/*
    Document   : style.css
    Created on : Mar 27, 2012, 11:21:55 PM
    Author     : thanhtri
    Description:
        Purpose of the stylesheet follows.
*/

.programming_result_chart {
    position: relative;
    width: 800px;
    height:250px;
    margin-bottom: 10px;
}

.programming_result_chart .bar {
    background-color: #a6a6ff;
    position: absolute;
    height: 20px;
    left: 45px;
}

.programming_result_chart .bar:hover {
    background-color: #a6ffff;
    position: absolute;
    height: 20px;
    left: 45px;
}

.programming_result_chart .legend {
    position: absolute;
    height: 20px;
    left: 0px;
}

div.programming_result_table {
    width: 100%;
    overflow: auto;
}

.plagiarsm_programming_course_selection_wrapper {
    padding: 0px;
    margin: -10px;
    height: 350px;
    font-size: larger;
    overflow: auto;
}

.plagiarsm_programming_course_selection_wrapper fieldset.hidden {
    padding: 0px;
}

.plagiarsm_programming_course_selection_wrapper .mform .fitem .felement {
    margin-left: 10px;
}

.plagiarsm_programming_course_selection_wrapper .enabled {
    background-color: #89FC63;
    opacity: 0.7;
}

.plagiarsm_programming_course_selection_wrapper .coursename {
    float: left;
}

.plagiarsm_programming_course_selection_wrapper .selectbutton {
    float: right;
}

a.plagiarism_programming_student_link:link,a.plagiarism_programming_student_link:visited {
    color: blue;
}

a.compare_link:link,a.compare_link:visited {
    color: #0066CC;
}

table.plagiarism_programming_result_table .normal, table.plagiarism_programming_result_table .normal .cell {
    background-color: #2DC800;
}

table.plagiarism_programming_result_table .suspicious, table.plagiarism_programming_result_table .suspicious .cell {
    background-color: #FF4848;
}

.programming_result_comparison_top_left {
    width:50%;
    height: 150px;
    float: left;
    overflow: auto;
}

.programming_result_comparison_top_left table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: 1px solid black;
}

.programming_result_comparison_top_left table th {
    background-color: #d0d0d0;
}

.programming_result_comparison_top_right {
    width:39%;
    height: 150px;
    float: right;
    border: none;
}

.programming_result_comparison_bottom_left {
    width:50%;
    height: 600px;
    float: left;
    overflow: auto;
    margin-top: 5px;
    position: relative;
}

.programming_result_comparison_bottom_right {
    width:50%;
    height:600px;
    float: right;
    overflow: auto;
    margin-top: 5px;
    position: relative;
}

.programming_result_comparison_separator {
    border-top: 1px solid black;
    clear: both;
    margin-top: 5px;
}

.programming_result_mark_img {
    border: none;
    display: none;
    vertical-align: middle;
    margin-left: 20px;
    width: 40px;
    height: 40px;
}

.programming_result_warning {
    color: red;
    font-weight: bold;
}

.enable_course_footer_panel {
    text-align: center;
}

.student_similarity_view_img {
    cursor: pointer;
}

.compare_header {
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

.colored {
    font-weight: bold;
}

.block_selected {
    font-weight: bold;
}